@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}
*{
    box-sizing: border-box;
}
body, html{
    position: relative;
    height: 100%;
    margin: 0;
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
.logo{
    width: 65px;
    height: 65px;
    border: 2px solid;
    border-left: 0;
    padding: 5px;
    vertical-align: middle;
    line-height: 1;
    padding: 20px 5px 0 0;
    font-weight: 600;
    letter-spacing: -1px;
}
nav#main-nav{
    position: fixed;
    width: 100%;
    height: 65px;
    top: 30px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}
nav#main-nav ul li{
    display: inline-block;
}
nav#main-nav ul li a{
    font-size: 12.5px;
    font-weight: 600;
    margin: 0 10px;
    padding: 8px 5px;
    display: inline-block;
}
nav#main-nav ul li a.active{
    font-weight: 800;
}
.line{
    width: 1px;
    background: rgba(255,255,255,0.05);
    height: 100%;
    position: fixed;
}
.line:first-of-type{
    margin-left: 20%;
}
.line:nth-of-type(2){
    margin-left: 40%;
}
.line:nth-of-type(3){
    margin-left: 60%;
}
.line:nth-of-type(4){
    margin-left: 80%;
}
footer{
    position: fixed;
    font-size: 11px;
    z-index: 1;
    top: 0;
    bottom: 0;
    transform: rotate(-90deg);
    width: 100vh;
    text-align: center;
    left: 0;
    padding: 85px;
    color: #aaa;
}
footer a{
    font-weight: 600;
    color: #aaa;
}
footer a:hover{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
